= form_for [@project, @project.tasks.build] do |f|
  -# - if @task.errors.any?
  -#   #error_explanation
  -#     %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
  -#     %ul
  -#       - @task.errors.full_messages.each do |message|
  -#         %li= message
  .field
    = f.text_field :name, placeholder: 'Start typing here to create task'
    = f.submit '+ Add'
