h1,h2,h3,h4,h5,h6,a,p,ul,li
  margin: 0
  padding: 0  
ul, li
  list-style-type: none
a, input
  text-decoration: none
  outline: none
  color: #333

h1
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0px 100px
  height: 40px
  font-size: 2rem
  background: #ccc
  width: 100%
  span
    a 
      display: block
      color: #37376d
      font-size: 1.3rem

*
  box-sizing: border-box

html, body
  font-family: Proxima Nova
  font-size: 16px
  margin: 0
  height: 100%
  background: #eee
  margin: 0
  padding: 0
  .wraper
    display: flex
    flex-direction: column
    min-height: 100vh
    // margin: auto 15px


button,
input[type="submit"]
  outline: none
.btn
  color: #fff
  padding: 2px 8px
  border-radius: 4px
.edit, .add-task
  background: #119e4d
  text-align: center
.delete
  background: #C70039
  top: 0
  right: 0
.done
  background: #34495e

::-webkit-scrollbar
  width: 4px
  height: 5px
  background-color: #ddd
::-webkit-scrollbar-thumb
    background: #34495e
    border-right: 1px solid #fff
    border-left: 1px solid #fff
button, input[type="submit"]
  border: none
  border-radius: 0 3px 3px 0
  background: #119e4d
  border: 1px solid darken(#119e4d, 12%)
  color: #fff
  padding: 1px 10px
  // width: 10%
  outline: none
  font-size: 1.1rem
  cursor: pointer
  &:hover
    background: lighten(#119e4d, 7%)