.project-lists
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  // TRELO_STYLE
  // flex-wrap: nowrap
  // overflow-y: hidden
  // overflow-x: scroll
  flex-direction: column
  margin: 15px 0
  padding-bottom: 20px
  .project-card
    width: 100%
    margin: 15px
    align-self: flex-start
    border: 1px solid #34495e
    border-radius: 4px
  .project-header
    display: flex
    align-items: center
    justify-content: space-between
    background: #34495e
    width: 100%
    padding: 7px 12px
    .title
      width: 84%
      h2
        font-size: .9rem
        color: #fff
    .manage-btn
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      align-self: flex-start
      .btn
        margin: 0 0 0 9px
#tasks
  // TRELO_STYLE
  // overflow-y: scroll
  // overflow-x: hidden
  // max-height: 75vh
  background: #fff
  padding: 8px
  .task-item
    cursor: move
    // display: flex
    justify-content: space-between
    flex-direction: column
    border: 1px solid #ccc
    border-radius: 5px
    margin: 5px 0
    background: #fff
    .name
      padding: 8px 10px
    &:hover
      .manage-btn
        .status
          opacity: 1
          display: inline-block
  .manage-btn
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    position: relative
    width: 100%
    .btn
      margin-left: 9px
    .status
      opacity: 0
      display: none
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      align-self: flex-end
      margin-right: 15px
    .dead-line
      background-color: #119e4d
      border-radius: 4px 0 0
      top: -10px
      left: -15px
      color: #fff
      font-size: .8rem
      padding: 4px 3px
      a
        color: #fff
    .set-deadline
      background: #C70039


.add-new-task
  background: #ccc  
  padding: 10px 0
  form#new_task
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    width: 100%
    .field
      width: 100%
      display: flex
      align-items: center
      justify-content: center
      input#task_name
        height: 33px
        width: 90%
        text-indent: 10px
        border: 1px solid darken(#eee, 12%)
        border-radius: 3px 0 0 3px

form#new_project, form#new_task, form.edit_project, form.edit_task
  text-align: center
  input#project_name, input#task_name
    width: 80%   
    height: 40px
    border-radius: 4px
    border: none
    border: 1px solid #ccc
    outline: none
    text-align: center
    font-size: 1rem
    // margin-top: 20%
  .actions
    margin-top: 50px
    text-align: center
    input[type="submit"]
      width: 70%
      padding: 10px
      border-radius: 4px
.new-project
  form#new_project
    width: 100%
.done_task
  .name
    padding-top: 20px
    color: #999
    text-decoration: line-through
    text-align: left
    .status
      a 
        text-decoration: none
