.project-card
  display: flex
  flex-direction: column
  border: 1px solid #34495e
  border-radius: 10px
  .project-header
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    justify-content: space-between
    background: #34495e
    width: 100%
    height: 66px
    padding: 0 40px
    border-radius: 8px
    .title
      width: 84%
      h2
        font-size: 1.6rem
        color: #fff
.add-new-task
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: space-around
  background: #ddd
  padding: 10px
  width: 100%
  border-radius: 0 0 10px 10px
form#new_task
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: space-around
  flex-direction: column
  text-align: center
  width: 100%
  img
    margin-right: 10px
  .field
    width: 100%
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-around
    border: 1px solid #ccc
    border-radius: 10px
    label
    input#task_name
      width: 90%
      border: none
      height: 42px
      outline: none
      border-radius: 3px 0 0 3px
      text-indent: 15px
      margin-bottom: 30px
  .input.datetime.optional.task_deadline
    margin-top: 10px
    position: absolute
    margin-top: 48px
    label
      margin-right: 10px


#tasks
  display: flex
  flex-direction: column
  margin: 10px 0
  .task-item
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid #ccc
    padding: 10px 15px
    margin: 3px 10px
    border-radius: 5px
    &:hover
      background: rgba(#f1f2f3, 19%)
      .manage-btn
        opacity: 1
    .name
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      align-items: center
      width: 89%  
      position: relative
      form#edit-subcomment
        width: 100%
        position: absolute
        .field
          display: -webkit-flex
          display: -moz-flex
          display: -ms-flex
          display: -o-flex
          display: flex
        input
          width: 100%
      p 
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-direction: column
        color: #333
        width: 100%
        font-size: 1.15rem
        span
          width: 155px
          text-align: center
          font-size: .8rem
          background: #C70039
          color: #f2f2f2
          border-radius: 4px
          padding: 2px
          margin-top: -5px
      p.done_task
        color: #999
        text-decoration: line-through
        span 
          span 
            text-decoration: none
    .manage-btn
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      align-items: center
      opacity: 0   

.done_task.task-item
  background: rgba(#f1f2f3, 19%)
  .manage-btn
    opacity: 1!important
.status
  width: 85px
  text-align: center
  margin-right: 10px


.edit-task
  .field
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    align-items: center
    input 
      width: 100%
    button, input[type="submit"]
      margin-top: 30px






